<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navBar</title>
</head>
<body>
<nav th:fragment="content" class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/medias/logoIFPT.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            INSTITUT DE FORMATION EN PSYCHOMOTRICIT&Eacute;
        </a>
    </div>
</nav>
</body>
</html>