/*palette*/
/*
noir    : #202020
rouge   : #ED1C24
jaune1  : #F7D28D (jaune orange)
orange1 : #E77655 (orage fonc�)
jaune2  : #F7EF95 (jaune citron)
orange2 : #F7C387 (orange claire)
saumon  : #F69679
blanc   : #F5F5F5
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@font-face{
    font-family:'digital';
    src: url('digital-7/digital-7.ttf');
}



body {
    margin:0;
    background-color: #f69679;
    font-family: 'Alegreya CS', sans-serif;
    overflow:hidden;
    text-align: center;
}

body a {
    color:white;
    text-decoration: none;
}

.text {
    color:white;
    position: absolute;
    margin-left:20px;
    margin-right:20px;
}

.titre{
    font-size: 60px;
    text-align: center;
    position: static;
}

.soustitre{
    font-size:25px;
    text-align: center;
}

.form{
    font-size:20px;
    text-align: center;
}

.bouton{
    background-color:#ED1C24;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    color : white;
}

.bouton:hover {
    background-color: #FF555C;
    cursor:pointer;
}

.choix {
    font-size : 20px;
    font-style:  italic;
    
    
}



#writing, #tablet, #chrono {
    position: absolute;
    background-color: rgba(196,196,196,0.4);
    padding:15px;
    width:70px;
    height: 70px;
    border-radius: 50%;
}

#writing {
    bottom:270px;
    left:5%;
}

#chrono {
    bottom:220px;
    left:18%
}

#tablet {
    bottom: 80px;
    left: 28%;
}

#writing img, #chrono img {
    width:70px;
}

#tablet img {
    height: 58px;
    width: 70px;
}

#letter {
    position: absolute;
    bottom: 35px;
    left: 8%;
}

#elephant {
    position: absolute;
    right: 10%;
    bottom: 35px;
}

select{
    font-family: 'Open Sans Condensed';
    font-size:18px;
    margin-top: 45px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    width: 40%;
}

select:hover{
    cursor: pointer;
}


