<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Default title for my pages</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg primary-navbar">
    <img src="/medias/logoIFPT.png" alt="logo"/>
    <span><a href="/">INSTITUT DE FORMATION EN PSYCHOMOTRICIT&Eacute;</a></span>
</nav>

<div class="container" layout:fragment="content"></div><!-- /.container -->

<img id="letter" src="/medias/letter.png" alt="letter"/>
<footer> <a href="">Mentions légales</a></footer>
</body>
</html>
