<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>ISIS Dysgraphie</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/CSS/corps.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>
<body>
<div th:replace="fragments/navbar :: content"></div>


<div class="container">
    <form action="/saveInfos" onclick="verif()">
            <div> Quelques informations avant de commencer ... </div>
            <div id="selectSexe">
                <SELECT id="select1" name="sexe" size="1">
                    <option>Ton sexe</option>
                    <option> fille </option>
                    <option> garçon </option>
                </SELECT>
            </div>

            <div id="selectNiveau">
                <SELECT id="select2" name="niveau" size="1">
                    <option>Ton niveau scolaire</option>
                    <option> CP </option>
                    <option> CE1 </option>
                    <option> CE2 </option>
                    <option> CM1 </option>
                    <option> CM2 </option>
                    <option> 6EME </option>
                    <option> 5EME </option>
                    <option> 4EME </option>
                    <option> 3EME </option>
                </SELECT>
            </div>
        <button type="submit" id="saveInfos">Continuer</button>
    </form>
</div>

<script>
    var select1=false;
    var select2= false;
    document.getElementById("saveInfos").disabled=true;
    function verif(){
        if(document.getElementById("select1").value != "Ton sexe"){
            select1=true;
        }else {
            select1=false;
        }
        if(document.getElementById("select2").value != "Ton niveau scolaire"){
            select2=true;
        } else {
            select2=false;
        }
        if(select1==true && select2==true){
            document.getElementById("saveInfos").disabled=false;
        }else{
            document.getElementById("saveInfos").disabled=true;
        }
    }


</script>

<footer> <a href="">Mentions légales</a></footer>
</body>
</html>
