<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>ISIS Dysgraphie</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg primary-navbar">
    <img src="/medias/logoIFPT.png" alt="logo"/>
    <span><a href="/">INSTITUT DE FORMATION EN PSYCHOMOTRICIT&Eacute;</a></span>
</nav>


<div id="infos">
    <form action="/saveInfos" onclick="verif()">
        <div id="form-container">
            <div> Quelques informations avant de commencer ... </div>
            <div id="selectSexe">
                <SELECT id="select1" name="sexe" size="1">
                    <option>Ton sexe</option>
                    <option> fille </option>
                    <option> garçon </option>
                </SELECT>
            </div>

            <div id="selectNiveau">
                <SELECT id="select2" name="niveau" size="1">
                    <option>Ton niveau scolaire</option>
                    <option> CP </option>
                    <option> CE1 </option>
                    <option> CE2 </option>
                    <option> CM1 </option>
                    <option> CM2 </option>
                    <option> 6EME </option>
                    <option> 5EME </option>
                    <option> 4EME </option>
                    <option> 3EME </option>
                </SELECT>
            </div>
            <img src="/medias/boy.jpeg" />
        </div>
        <button type="submit" id="saveInfos">Continuer</button>
    </form>
</div>

<div id="writing"><img src="/medias/hand-writing.png" alt="writing"/></div>
<div id="chrono"><img src="/medias/chrono.png" alt="chronometer"/></div>
<div id="tablet"><img src="/medias/graphic-tablet.png" alt="tablet"/></div>
<img id="letter" src="/medias/letter.png" alt="letter"/>
<img id="elephant" src="/medias/elephant.png" alt="elephant"/>

<script>
    var select1=false;
    var select2= false;
    document.getElementById("saveInfos").disabled=true;
    function verif(){
        if(document.getElementById("select1").value != "Ton sexe"){
            select1=true;
        }else {
            select1=false;
        }
        if(document.getElementById("select2").value != "Ton niveau scolaire"){
            select2=true;
        } else {
            select2=false;
        }
        if(select1==true && select2==true){
            document.getElementById("saveInfos").disabled=false;
        }else{
            document.getElementById("saveInfos").disabled=true;
        }
    }


</script>

<footer> <a href="">Mentions légales</a></footer>
</body>
</html>
