<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>ISIS Dysgraphie</title>
    <link rel="stylesheet" href="/CSS/corps.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/navbar :: content"></div>


<div class="container" id="infos">
    <div class="row">
        <h1 class="m-3">Informations sur le patient</h1>
        <form action ="saveInfosPatient" class="mt-3">
            <div class="form-group row m-3">
                <div class="col-md">
                    <label for="addPatientage" class="form-label">Age</label>
                    <input type="number" class="form-control" id="addPatientage" required>
                </div>
                <div class="col-md">
                    <label for="addPatientLibelle" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="addPatientLibelle" required>
                </div>
            </div>
            <div class="form-group row m-3">

                <div class="col-md">
                    <label for="addPatientclasse" class="form-label">Classe</label>
                    <SELECT id="addPatientclasse" name="niveau" size="1">
                        <option>Ton niveau scolaire</option>
                        <option> CP</option>
                        <option> CE1</option>
                        <option> CE2</option>
                        <option> CM1</option>
                        <option> CM2</option>
                        <option> 6EME</option>
                        <option> 5EME</option>
                        <option> 4EME</option>
                        <option> 3EME</option>
                    </SELECT>
                </div>
                <div class="col-md">
                    <label for="addPatientsexe" class="form-label">Sexe</label>

                    <SELECT id="addPatientsexe" name="sexe" size="1">
                        <option>Ton sexe</option>
                        <option> fille</option>
                        <option> garçon</option>
                    </SELECT>
                </div>
            </div>

            <div class="form-group row m-3">

                <div class="col-md">
                    <label for="addPatientdateExamen" class="form-label">Date</label>
                    <input type="date" class="form-control" id="addPatientdateExamen" required>
                </div>
                <div class="col-md">
                    <label for="addPatientAnonymat" class="form-label">Numéro d'annonymat</label>
                    <input type="number" class="form-control" id="addPatientAnonymat" required>
                </div>
            </div>
            <div class="form-group row m-3">
                <div class="col-md">
                    <label for="addPatientEvaluation" class="form-label">Evaluation</label>
                    <input type="number" class="form-control" id="addPatientEvaluation" required>
                </div>
                <div class="col-md">
                    <label for="addPatientEvaluationAComparer" class="form-label">Evaluation à comparer</label>
                    <input type="number" class="form-control" id="addPatientEvaluationAComparer" required>
                </div>

            </div>
            <button type="submit" class="btn btn-primary m-3">Suivant</button>
        </form>
    </div>
</div>





<footer><a href="">Mentions légales</a><img id="elephant" src="/medias/elephant.png" alt="elephant"/></footer>
</body>
</html>
